hr
.flex_container.center
    a(href = "/") 
        b About Me
    a(href = "/portfolio") 
        b My Portfolio
    a(href = "/funstuff") 
        b Fun Stuff
    a(href = "/contactme") 
        b Contact Me
