.flex_container
    .header
        div 
            h1 Keith Bailey
    .navbar
        a(href = "/") 
            b About Me
        a(href = "/portfolio") 
            b My Portfolio
        a(href = "/funstuff") 
            b Fun Stuff
        a(href = "/contactinfo") 
            b Contact Me


