doctype html
head
    title About Me
    link(href='/styles/index.css' rel='stylesheet')
    link(href='/styles/header.css' rel='stylesheet')

    <meta name="viewport" content="width=device-width, initial-scale=1.0">


body
    include ./partials/header.pug
    .row
        //- p.name  Keith Bailey 

    .row2
        p.name Keith Bailey
        //- .left
        //-     img.profilepic.center(src = "/images/me.png")
        //- .main
        //-     h2 Quick Overview
        //-     ul
        //-         li Carleton University 2nd Year 
        //-         li Bachelor's of Computer Science, with Honours
        //-         li Proficient in Java, Javascript, C, Python
    //some more divs here...